.content-part-1 {
    .main-content {
        .question {
            width: 800px;
            margin: auto;

            .question-item {
                img {
                    width: 800px;
                }

                ul {
                    padding: 0;
                    width: 800px;
                    display: flex;

                    li {
                        width: 33.3333%;
                        list-style-type: none;
                        display: flex;
                        justify-content: center;


                    }

                    /* Bao gồm CSS ở đây */
                    input[type="checkbox"] {
                        appearance: none;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #ccc;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    input[type="checkbox"]:not(:checked) {
                        background-color: white;
                    }

                    input[type="checkbox"]:checked {
                        background-color: white;
                        border-color: #ccc;
                    }

                    //result true
                    input[type="checkbox"].answerTrue:checked {
                        background-color: green;
                        border-color: green;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    input[type="checkbox"].answerTrue:checked::before {
                        content: '✔';
                        font-size: 16px;
                    }
                    //checked simple
                    input[type="checkbox"]:checked {
                        background-color: rgb(76, 87, 76);
                        border-color: rgb(79, 90, 79);
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    input[type="checkbox"]:checked::before {
                        content: '✔';
                        font-size: 16px;
                    }

                    //result false
                    input[type="checkbox"].answerFalse:checked {
                        background-color: red;
                        border-color: red;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    input[type="checkbox"].answerFalse:checked::before {
                        content: '✔';
                        font-size: 16px;
                    }


                }

                border-bottom: 1px solid;
            }
        }
    }

}